body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(14, 14, 14);
}

header {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 0;
    background-color: rgb(26, 26, 26);
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
}

header a {
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

header h1 {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

main {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.main-wrapper {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 70%;
}

.welcoming-div {
    position: relative;
    display: flex;
    padding: 200px 0 0 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 20px;
}

.welcoming-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    filter: invert(100%);
}

.message-box {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 0 0 60px 0;
    /* border: solid 1px black; */
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
    border-radius: 200px;
    text-align: center;
}

.message-box h1 {
    font-weight: lighter;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.empty-box {
    display: flex;
    padding: 10px;
    margin: 60px 0 0 0;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.scroll-down-arrow {
    padding: 200px 0 450px 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-items: center;
}

.scroll-down-arrow img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    filter: invert(100%);
}

.about-me {
    position: relative;
    display: flex;
    padding: 0 0 50px 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.about-me-h1 {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 48px;
    text-align: center;
    padding: 0 0 60px 0;
}

.hobbies {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 50px;
}

.hobby-div {
    position: relative;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    margin: 0;
    flex-direction: row;
    gap: 30px;
    transition: all 0.4s ease-in;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.hobby-div:hover p, .hobby-div:hover h1 {
    color: rgb(255, 255, 255);
}

@keyframes light-up-animation {
    0% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
    }

    100% {
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0);
    }
}

.hobby-div:hover {
    animation: 1.5s light-up-animation;
    scale: 1.02;
}

.hobby-div:hover img {
    filter: invert(100%);
}

.hobby-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    filter: invert(40%);
}

.hobby-message-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.hobby-message-div h1 {
    /* color: rgb(255, 255, 255); */
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
    cursor: default;
}

.hobby-message-div p {
    /* color: rgb(255, 255, 255); */
    color: rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
    cursor: default;
}

.experience {
    position: relative;
    display: flex;
    padding: 0 0 50px 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.experience-h1 {
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 64px;
    text-align: center;
    padding: 0 0 60px 0;
}

.experience-divs {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.experience-div {
    position: relative;
    display: flex;
    padding: 15px;
    margin: 0;
    gap: 20px;
    width: 100%;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.7);
}

.experience-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    filter: invert(100%);
}

.experience-text-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.experience-text-div h1 {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 38px;
    cursor: default;
}

.experience-text-div p {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: default;
}

.experience-divs:hover> :not(:hover) {
    filter: blur(1px);
    opacity: 0.2;
}
