body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(14, 14, 14);
}

@media only screen and (max-width: 500px) {
    header nav ul {
        flex-direction: column !important;
    }

    header nav ul li a img {
        width: 28px !important;
        height: 28px !important;
    }

    header h1 {
        font-size: 28px !important;
    }

    .welcoming-div {
        padding: 30px 0 30px 0 !important;
    }

    .name-div h1 {
        font-size: 28px !important;
    }

    .name-span {
        font-size: 32px !important;
    }

    .glass-welcome-div {
        width: 80% !important;
    }

    .text-div p {
        font-size: 18px !important;
    }

    .connections-div img {
        width: 36px !important;
        height: 36px !important;
    }

    .scroll-down-arrow {
        padding: 80px 0 80px 0 !important;
    }

    .about-me-h1 {
        font-size: 36px !important;
    }

    .experience-h1 {
        padding: 80px 0 80px 0 !important;
    }

    .experience-div {
        width: 80% !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .experience-text-div h1 {
        font-size: 32px !important;
    }

    .experience-text-div p {
        font-size: 24px !important;
    }
}

header {
    position: relative;
    display: flex;
    padding: 8px;
    margin: 0;
    background-color: rgb(26, 26, 26);
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

header a {
    text-decoration: none;
}

header nav ul {
    list-style-type: none;
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

header nav ul li a {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    column-gap: 5px;
}

header nav ul li a img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    filter: invert(100%);
}

header h1 {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

main {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

/* .main-wrapper {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 70%;
} */

.welcoming-div {
    position: relative;
    display: flex;
    padding: 200px 0 200px 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-image: url('./images/7398642.jpg');
    background-position: center center;
    background-size: cover;
}

.glass-welcome-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    width: 70%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.6);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 2px rgba(27, 27, 27, 0.6);
}

.name-text-div {
    position: relative;
    display: flex;
    padding: 5px;
    margin: 30px;
    flex-direction: column;
    column-gap: 10px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}

.name-div {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 0;
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
    align-items: center;
}

.name-div h1 {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 56px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    word-spacing: -5px;
}

.name-span {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(142, 42, 204);
    font-size: 64px;
    font-weight: 600;
    background: -webkit-linear-gradient(40deg, rgb(156, 78, 204), rgb(75, 14, 112));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-div p {
    display: flex;
    padding: 0;
    margin: 0;
    color: rgb(221, 220, 220);
    font-size: 24px;
}

.connections-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    column-gap: 10px;
}

.connections-div a {
    display: flex;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    background-color: rgba(27, 27, 27, 0.6);
    box-shadow: 0 0 5px 2px rgba(27, 27, 27, 0.6);
    backdrop-filter: blur(20px);
    animation: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.connections-div a:hover {
    transform: scale(1.03); 
}

.linkedin:hover {
    background-color: rgba(10, 102, 194, 0.6);
}

.instagram:hover {
    background: linear-gradient(120deg, rgba(24, 42, 172, 0.6), rgba(141, 66, 227, 0.6), rgba(208, 58, 65, 0.6), rgba(239, 233, 57, 0.6)) !important;
}

.connections-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    filter: invert(100%);
}

.scroll-down-arrow {
    padding: 160px 0 160px 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-items: center;
}

.scroll-down-arrow img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    filter: invert(100%);
}

.parallax {
    background-attachment: fixed;
}

.about-me {
    position: relative;
    display: flex;
    padding: 0 0 50px 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('./images/8760917.jpg');
    background-position: center center;
    background-size: cover;
}

.about-me-h1 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    padding: 0 0 60px 0;
}

.hobbies {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.hobby-div {
    position: relative;
    display: flex;
    padding: 15px;
    border-radius: 20px;
    margin: 0;
    flex-direction: column;
    background-color: rgba(27, 27, 27, 0.6);
    backdrop-filter: blur(20px);
    gap: 30px;
    transition: all 0.4s ease-in;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 364px;
    box-shadow: 0 0 10px 2px rgba(27, 27, 27, 0.6);
    animation: all 0.3s;
}

.hobby-div:hover {
    transform: translateY(-10px);
}

.hobby-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    filter: invert(100%);
}

.hobby-message-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.hobby-message-div h1 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 30px;
    padding: 0;
    margin: 0;
    cursor: default;
}

.hobby-message-div p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 0;
    margin: 0;
    cursor: default;
}

.experience {
    position: relative;
    display: flex;
    padding: 0 0 50px 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

.experience-h1 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    padding: 160px 0 160px 0;
    margin: 0;
    text-decoration: none;
    align-items: center;
    justify-items: center;
}

.experience-divs {
    position: relative;
    display: flex;
    padding: 30px 0 30px 0;
    margin: 0;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    background-image: url('./images/7398642.jpg');
    background-position: center center;
    background-size: cover;
}

.experience-div {
    position: relative;
    display: flex;
    padding: 15px;
    margin: 0;
    gap: 20px;
    width: 50%;
    flex-direction: row;
    border-radius: 20px;
    background-color: rgba(27, 27, 27, 0.6);
    transition: all 0.4s ease-in;
    box-shadow: 0 0 10px 2px rgba(27, 27, 27, 0.6);
}

.experience-div:hover {
    transform: translateX(-10px);
}

.experience-div img {
    display: flex;
    padding: 0;
    margin: 0;
    width: 128px;
    height: 128px;
    filter: invert(100%);
}

.experience-text-div {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.experience-text-div h1 {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 38px;
    cursor: default;
}

.experience-text-div p {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: default;
}
